<!DOCTYPE html>
<html>
  <title>Bookslist</title>
<head>
  <!--Below in styles I define my settings for the navgation panel, which is margined to the left side of the screen and has a black background with
  with white colored text-->
<style>
.navig {
  width: 10%;
  background-color: #000000;
  position: fixed;
  height: 100%;
}
li a {
  color: white;
}
</style>
</head>
<body>
  <!--Here I described all the links in the navigation pane and attached the html pages to them-->
    <ul class="navig">
        <li><a href="index.html">Homepage</a></li>
        <li><a href="Bookslist.html">Books Available</a></li>
        <li><a href="contactus.html">Contact Us</a></li>
        <li><a href="surveypage.html">Survey</a></li>
        <li><a href="honesty.html">Honesty</a></li>
        <!--below I define the the three books with their images and links embedded in the images that ead to their detailed description page-->
    </ul>
    <div style="margin-left:20%;padding:1px 16px;height:1000px;">
    <h1>The Three Books</h1>
    <br>
    <p><a href="pmat.html"><img src="/public/images/PMAT.jpg" height="250px" width="200px"><br>Practical Malware Analysis</a></p>
    <br>
    <p><a href="race.html"><img src="/public/images/THE_RACE_for_lost.jpg" height="280px" width="200px"><br>The Race for the Lost Keystone</a></p>
    <br>
    <p><a href="hp.html"><img src="/public/images/HP.jpg" height="280px" width="200px"><br>Harry Potter: Philosopher's Stone</a></p>
</body>
</html>
