<!DOCTYPE html>
<html>
<head>
<style>

.nav {
  width: 10%;
  background-color: #000000;
  position: fixed;
  height: 100%;
}
li a {
  color: white;
}
</style>
</head>
<body>
  <ul class="nav">
    <ul>
        <li><a href="index.html">Homepage</a></li>
        <li><a href="Bookslist.html">Books Available</a></li>
        <li><a href="booksdetails.html">Books details</a></li>
        <li><a href="contactus.html">Contact Us</a></li>
        <li><a href="surveypage.html">Survey</a></li>
      </ul>
      <div style="margin-left:20%;padding:1px 16px;height:1000px;"></div>
</body>
</html>
