<!DOCTYPE html>
<html>
    <title>Harry Potter and the Philosopher's stone</title>
<head>
    <!--Below in styles I define my settings for the navgation panel, which is margined to the left side of the screen and has a black background with
  with white colored text-->
<style>
.navig {
    width: 10%;
    background-color: #000000;
    position: fixed;
    height: 100%;
    }
    li a {
    color: white;
    }
</style>
</head>
<!--Below is the navigation panel links list-->
<body>   
    <ul class="navig">
        <li><a href="index.html">Homepage</a></li>
        <li><a href="Bookslist.html">Books Available</a></li>
        <li><a href="contactus.html">Contact Us</a></li>
        <li><a href="surveypage.html">Survey</a></li>
        <li><a href="honesty.html">Honesty</a></li>
    </ul>
        <!--Below I insert the image after secribing the style of text and the style of the image-->
    <div style="margin-left:20%;padding:1px 16px;height:1000px;">
        <h1>Harry Potter: The Philosopher Stone</h1>
        <!--Below are the details and description of the book-->     
            <img src="public/images/HP.jpg" style="float:left" height="500px" width="350px">
            <p>
                Harry Potter: The Philosopher's Stone
                <br>
                Book by J.K Rowling
                <br>
                When a letter arrives for unhappy but ordinary Harry Potter, a decade-old secret is revealed to him that apparently he's the last to know.
                <br>
                His parents were wizards, killed by a Dark Lord's curse when Harry was just a baby, and which he somehow survived.
                <br>
                Leaving his unsympathetic aunt and uncle for Hogwarts, a wizarding school brimming with ghosts and enchantments, Harry stumbles upon a sinister mystery when he finds a three-headed dog guarding a room on the third floor.
                <br>
                Then he hears of a missing stone with astonishing powers which could be valuable, dangerous - or both.
                <br>
                An incredible adventure is about to begin! These new editions of the classic and internationally bestselling, multi-award-winning series feature instantly pick-up-able new jackets with huge child appeal, to bring Harry Potter to the next generation of readers. 
                <br>
                It's time to PASS THE MAGIC ON.
                <br>
                Reference: https://www.google.ca/books/edition/Harry_Potter_and_the_Philosopher_s_Stone/HksgDQAAQBAJ?hl=en
            </p>
        </div>
    </body>
</html>

