<!DOCTYPE html>
<html>
    <title>Practical Malware Analysis</title>
<head>
    <!--Below in styles I define my settings for the navgation panel, which is margined to the left side of the screen and has a black background with
  with white colored text-->
<style>
.navig {
    width: 10%;
    background-color: #000000;
    position: fixed;
    height: 100%;
    }
    li a {
    color: white;
    }
</style>
<!--Below are the links for the navigation panel leading to different pages-->
</head>
<body>   
    <ul class="navig">
        <li><a href="index.html">Homepage</a></li>
        <li><a href="Bookslist.html">Books Available</a></li>
        <li><a href="contactus.html">Contact Us</a></li>
        <li><a href="surveypage.html">Survey</a></li>
        <li><a href="honesty.html">Honesty</a></li>
    </ul>
        <!--below I have the book image and text and styles-->
    <div style="margin-left:20%;padding:1px 16px;height:1000px;">
        <h1>Practical Malware Analysis</h1>       
            <img src="/public/images/PMAT.jpg" style="float:left" height="500px" width="350px">
            <!--below I have the details for the book-->
            <p>
                Pactical Malware Analysis
                <br>
                Book by Andrew Honig and Michael Sikorski
                <br>
                Malware analysis is big business, and attacks can cost a company dearly.
                <br> 
                When malware breaches your defenses, you need to act quickly to cure current infections and prevent future ones from occurring.
                <br>
                Reference: Honig, A., Sikorski, M. (2012). Practical Malware Analysis: The Hands-On Guide to Dissecting Malicious Software. United States: No Starch Press.
            </p>
        </div>
    </body>
</html>