<!DOCTYPE html>
<html>
    <title>The Race for The Lost Keystone</title>
<head>
    <!--Below in styles I define my settings for the navgation panel, which is margined to the left side of the screen and has a black background with
  with white colored text-->
<style>
.navig {
    width: 10%;
    background-color: #000000;
    position: fixed;
    height: 100%;
    }
    li a {
    color: white;
    }
</style>
</head>
<body>
    <!--Below are navigation panel links listed-->
    <ul class="navig">
        <li><a href="index.html">Homepage</a></li>
        <li><a href="Bookslist.html">Books Available</a></li>
        <li><a href="contactus.html">Contact Us</a></li>
        <li><a href="surveypage.html">Survey</a></li>
        <li><a href="honesty.html">Honesty</a></li>
    </ul>
        <!--Below I define the text style/position and the image position and style-->
    <div style="margin-left:20%;padding:1px 16px;height:1000px;">
        <h1>The Race for the Lost Keystone</h1>       
            <img src="/public/images/THE_RACE_for_lost.jpg" style="float:left" height="500px" width="350px">
            <!--Below I have the Description and Details of the book-->
            <p>
                The Race for the Lost Keystone
                <br>
                Book by Valerie Rutt
                <br>
                Kate and Phil Reynolds think they belong to an ordinary family. That is until a larger - than - life old lady turns up on a Harley Davidson with her labrador Fearless in the sidecar, and introduces herself as their Great Aunt Elizabeth.
                <br> 
                And that is until they discover that their own cat, Barking, can talk, and that their legacy is ownership of some unique stones that have very special properties but come with a whole heap of responsibility. 
                <br>
                And finally they find out that they are pitted against Lorabeth Lampton, an evil villainess of Cruel la De Vil proportions, who is causing natural disasters on a worldwide scale in her quest for eternal youth.
                <br>
                Reference: https://www.google.ca/books/edition/The_Race_for_the_Lost_Keystone/cyPqLQAaodYC?hl=en
            </p>
        </div>
    </body>
</html>

